@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Kosugi+Maru&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Potta+One&family=Reggae+One&family=Yusei+Magic&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aaaaaa' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
  width: 100%;
  height: 100%;
}

input,
textarea,
select,
button {
  outline: 0;
}

input,
textarea,
select {
  border: none;
  border-bottom: 1px solid #AAA;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 10px;
  z-index: 2;
  height: 3.5rem;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  border-radius: 2px;
}

.github-link>a {
  display: flex;
  padding: 0.25rem;
}
.github-link>a>img {
  width: 24px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex.top {
  align-items: top;
}

.flex.center {
  align-items: center;
}

.flex.middle input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.flex.column {
  flex-direction: column;
}

.flex.left {
  justify-content: left;
}

.flex > div label {
  display: block;
  font-weight: bold;
}

.flex.wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-middle {
  display: flex;
  align-items: center;
}

.form-large-button {
  height: 40px;
  width: 40px;
}

.flex-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.delete-button {
  position: absolute;
  right: 0;
  z-index: 0;
}


.delete-button>button {
  border: none;
  background: transparent;
}
.delete-button>button::before,
.delete-button>button::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 7px;
  width: 25px;
  height: 5px;
  background: gray;
  transition: .2s;
}
.delete-button>button::before {
  transform: rotate(45deg);
}
.delete-button>button::after {
  transform: rotate(-45deg);
}
.delete-button>button:hover::after,
.delete-button>button:hover::before {
  background: red;
}

ul.none-point-list {
  list-style: none;
}

div.mark {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  padding-top: 1rem;
}

.hidden {
  display: none;
}

.card-canvas {
  display: block;
  border: 1px solid black;
  width: 350px;
  height: 500px;
  transition: .2s;
  cursor: zoom-in;
}

.zoom {
  width: 700px;
  height: 1000px;
  cursor: zoom-out;
}

#input-area li {
  border-top: 1px solid gray;
}
#input-area li:first-child {
  border-top: none;
}

.card-form-group {
  display: flex;
  flex-direction: row;
  flex-grow: 10;
}

.card-form-group h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.card-form-group input {
  min-height: 2rem;
  text-indent: 0.5rem;
}

.card-input-front {
  background: #EEE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 50%;
  padding: 1rem;
}

.card-input-back {
  background: #CCC;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 50%;
  padding: 1rem;
}

.card-input-front > div,
.card-input-back > div {
  margin-right: 0.3rem;
}

.card-input-front > h2,
.card-input-back > h2 {
  margin-bottom: 0.25rem;
  border-bottom: 2px solid #AAA;
}

.card-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-heading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card-name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content > textarea {
  min-height: 10rem;
}

.input-form {
  position: relative;
}
.input-form label {
  position: absolute;
  top: 2.25rem;
  left: 0.25rem;
  color: #AAA;
  transition: .2s;
}
.input-form label.focus {
  top: 0.75rem;
  left: 0;
  font-size: 0.8rem;
  color: black;
}
.input-form>input,
.input-form>textarea,
.input-form>select {
  margin-top: 2rem;
}

textarea {
  min-height: 3rem;
  resize: none;
}

.tab-group {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  z-index: 1;
}

.tab-group {
  background-color: rgba(0, 0, 0, 0.8);
}

.tab-group .tab {
  padding: 1rem;
  background-color: rgba(255,255,255,0.4);
  flex-basis: 20rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
}

.tab-group .tab.active {
  background: white;
}

.tab-content {
  margin-top: 3.5rem;
}

#card-output.tab-content {
  padding-left: 0.5rem;
}

#controller {
  display: flex;
  justify-content: center;
}

#controller > button {
  padding: 1rem 0;
  flex-grow: 1;
  border: none;
  background: gray;
  color: white;
  transition: .2s;
}
#controller > button:hover {
  background: #333;
}

button {
  cursor: pointer;
}

.canvas-list {
  display: flex;
  margin: 0.5rem;
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.font-kosugi {
  font-family: 'Kosugi', sans-serif;
}

.font-kosugi-maru {
  font-family: 'Kosugi Maru', sans-serif;
}

.font-noto-sans-jp {
  font-family: 'Noto Sans JP', sans-serif;
}

.font-noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}

.font-potta-one {
  font-family: 'Potta One', cursive;
}

.font-reggae-one {
  font-family: 'Reggae One', cursive;
}

.font-yusei-magic {
  font-family: 'Yusei Magic', sans-serif;
}

.font-serif {
  font-family: serif;
}

.font-sans-serif {
  font-family: sans-serif;
}