<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="robots" content="noindex" />
        <meta name="robots" content="nofollow" />
        <title>trpg-handout-generator 2.1.1</title>
        <link rel="stylesheet" href="index.css" />
        <script src="lib/FileSaver.min.js"></script>
        <script src="lib/jszip.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <header></header>
        <main class="flex-box" id="app">
            <div class="tab-group">
                <span
                    id="card-input-tab"
                    class="tab active"
                    data-target="card-input"
                    v-on:click="toggleTabs"
                    >入力</span
                >
                <span
                    id="card-output-tab"
                    class="tab"
                    data-target="card-output"
                    v-on:click="toggleTabs"
                    >プレビュー</span
                >
            </div>
            <div id="card-input" class="tab-content">
                <div id="global-setting-container">
                    <div>
                        <select
                            id="global-font-setting"
                            v-model="globalFontSetting"
                            v-on:change="changeGlobalFont"
                            v-bind:style="'font-family: ' + globalFontSetting"
                        >
                            <option class="font-sans-serif" value="sans-serif">
                                sans-serif (default)
                            </option>
                            <option class="font-serif" value="serif">serif</option>
                            <option class="font-kosugi" value="Kosugi">Kosugi</option>
                            <option class="font-kosugi-maru" value="Kosugi Maru">
                                Kosugi Maru
                            </option>
                            <option class="font-noto-sans-jp" value="Noto Sans JP">
                                Noto Sans JP
                            </option>
                            <option class="font-noto-serif-jp" value="Noto Serif JP">
                                Noto Serif JP
                            </option>
                            <option class="font-potta-one" value="Potta One">Potta One</option>
                            <option class="font-reggae-one" value="Reggae One">Reggae One</option>
                            <option class="font-yusei-magic" value="Yusei Magic">
                                Yusei Magic
                            </option>
                        </select>
                    </div>
                    <div id="text-import">
                        <label class="file-input" for="text-import">
                            <input
                                type="file"
                                name="text-import"
                                id="text-import"
                                v-on:change="importText"
                                accept=".txt"
                            />
                        </label>
                    </div>
                    <div class="right">
                        <button id="save-button" v-on:click="saveCanvasImage">
                            ZIPで保存(Udonarium対応)
                        </button>
                    </div>
                </div>
                <ul class="none-point-list" id="input-area">
                    <li v-for="card in cardList">
                        <div class="flex">
                            <div class="mark">
                                <span>{{ card.id * 1.0 + 1 }}</span>
                            </div>
                            <div class="card-form-group">
                                <div class="card-input-front">
                                    <h2>オモテ</h2>
                                    <div class="input-form card-name">
                                        <input
                                            v-bind:id="'card-name-' + card.id"
                                            type="text"
                                            v-bind:name="'card-name-' + card.id"
                                            v-model="card.front.name"
                                            value
                                            v-bind:style="'font-family: ' + card.front.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label class="focus" v-bind:for="'card-name-' + card.id"
                                            >カード名</label
                                        >
                                    </div>
                                    <div class="input-form card-heading">
                                        <input
                                            v-bind:id="'card-heading-' + card.id"
                                            type="text"
                                            v-bind:name="'card-heading-' + card.id"
                                            v-model="card.front.heading"
                                            value
                                            v-bind:style="'font-family: ' + card.front.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label v-bind:for="'card-heading-' + card.id">見出し</label>
                                    </div>
                                    <div class="input-form card-title">
                                        <input
                                            v-bind:id="'card-title-' + card.id"
                                            type="text"
                                            v-bind:name="'card-title-' + card.id"
                                            v-model="card.front.title"
                                            value
                                            v-bind:style="'font-family: ' + card.front.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label v-bind:for="'card-title-' + card.id">タイトル</label>
                                    </div>
                                    <div class="input-form card-content">
                                        <textarea
                                            v-bind:id="'card-content-' + card.id"
                                            v-bind:name="'card-content-' + card.id"
                                            v-model="card.front.content"
                                            v-bind:style="'font-family: ' + card.front.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        ></textarea>
                                        <label v-bind:for="'card-content-' + card.id">内容</label>
                                    </div>
                                    <div class="input-form card-font">
                                        <label class="focus" v-bind:for="'card-font-' + card.id"
                                            >フォント</label
                                        >
                                        <select
                                            v-bind:id="'card-font-' + card.id"
                                            v-bind:name="'card-font-' + card.id"
                                            v-bind:id="'card-font-' + card.id"
                                            v-model="card.front.font"
                                            v-bind:style="'font-family: ' + card.front.font"
                                        >
                                            <option class="font-sans-serif" value="sans-serif">
                                                sans-serif (default)
                                            </option>
                                            <option class="font-serif" value="serif">serif</option>
                                            <option class="font-kosugi" value="Kosugi">
                                                Kosugi
                                            </option>
                                            <option class="font-kosugi-maru" value="Kosugi Maru">
                                                Kosugi Maru
                                            </option>
                                            <option class="font-noto-sans-jp" value="Noto Sans JP">
                                                Noto Sans JP
                                            </option>
                                            <option
                                                class="font-noto-serif-jp"
                                                value="Noto Serif JP"
                                            >
                                                Noto Serif JP
                                            </option>
                                            <option class="font-potta-one" value="Potta One">
                                                Potta One
                                            </option>
                                            <option class="font-reggae-one" value="Reggae One">
                                                Reggae One
                                            </option>
                                            <option class="font-yusei-magic" value="Yusei Magic">
                                                Yusei Magic
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-input-back">
                                    <h2>ウラ</h2>
                                    <div class="input-form card-name">
                                        <input
                                            v-bind:id="'card-back-name-' + card.id"
                                            type="text"
                                            v-bind:name="'card-back-name-' + card.id"
                                            v-model="card.back.name"
                                            value
                                            v-bind:style="'font-family: ' + card.back.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label
                                            class="focus"
                                            v-bind:for="'card-back-name-' + card.id"
                                            >カード名</label
                                        >
                                    </div>
                                    <div class="input-form card-heading">
                                        <input
                                            v-bind:id="'card-back-heading-' + card.id"
                                            type="text"
                                            v-bind:name="'card-back-heading-' + card.id"
                                            v-model="card.back.heading"
                                            value
                                            v-bind:style="'font-family: ' + card.back.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label v-bind:for="'card-back-heading-' + card.id"
                                            >見出し</label
                                        >
                                    </div>
                                    <div class="input-form card-title">
                                        <input
                                            v-bind:id="'card-back-title-' + card.id"
                                            type="text"
                                            v-bind:name="'card-back-title-' + card.id"
                                            v-model="card.back.title"
                                            value
                                            v-bind:style="'font-family: ' + card.back.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        />
                                        <label v-bind:for="'card-back-title-' + card.id"
                                            >タイトル</label
                                        >
                                    </div>
                                    <div class="input-form card-content">
                                        <textarea
                                            v-bind:id="'card-back-content-' + card.id"
                                            v-bind:name="'card-back-content-' + card.id"
                                            v-model="card.back.content"
                                            v-bind:style="'font-family: ' + card.back.font"
                                            v-on:focusin="focusInputForm"
                                            v-on:focusout="focusInputForm"
                                        ></textarea>
                                        <label v-bind:for="'card-back-content-' + card.id"
                                            >内容</label
                                        >
                                    </div>
                                    <div class="input-form card-font">
                                        <label
                                            class="focus"
                                            v-bind:for="'card-back-font-' + card.id"
                                            >フォント</label
                                        >
                                        <select
                                            v-bind:id="'card-back-font-' + card.id"
                                            v-bind:name="'card-back-font-' + card.id"
                                            v-bind:id="'card-back-font-' + card.id"
                                            v-model="card.back.font"
                                            v-bind:style="'font-family: ' + card.back.font"
                                        >
                                            <option class="font-sans-serif" value="sans-serif">
                                                sans-serif (default)
                                            </option>
                                            <option class="font-serif" value="serif">serif</option>
                                            <option class="font-kosugi" value="Kosugi">
                                                Kosugi
                                            </option>
                                            <option class="font-kosugi-maru" value="Kosugi Maru">
                                                Kosugi Maru
                                            </option>
                                            <option class="font-noto-sans-jp" value="Noto Sans JP">
                                                Noto Sans JP
                                            </option>
                                            <option
                                                class="font-noto-serif-jp"
                                                value="Noto Serif JP"
                                            >
                                                Noto Serif JP
                                            </option>
                                            <option class="font-potta-one" value="Potta One">
                                                Potta One
                                            </option>
                                            <option class="font-reggae-one" value="Reggae One">
                                                Reggae One
                                            </option>
                                            <option class="font-yusei-magic" value="Yusei Magic">
                                                Yusei Magic
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="delete-button">
                                <button
                                    class="form-large-button"
                                    v-on:click="deleteCard"
                                    v-bind:id="'card-delete-button-' + card.id"
                                    v-bind:data-cardnum="card.id"
                                ></button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="controller">
                    <button v-on:click="addCard">＋&nbsp;ハンドアウト追加</button>
                </div>
            </div>
            <div id="card-output" class="tab-content hidden">
                <div class="flex column center caption">
                    <p>※キャンバスをクリックすると拡大します</p>
                </div>
                <ul class="flex center none-point-list">
                    <li class="canvas-list" v-for="card in cardList">
                        <div class="canvas-container" v-on:click="zoomCanvas">
                            <canvas
                                width="630"
                                height="900"
                                class="card-canvas"
                                v-bind:id="'card-front-canvas-' + card.id"
                                v-bind:data-canvasnum="card.id"
                                v-bind:data-filename="card.front.filename"
                                data-type="front"
                            ></canvas>
                        </div>
                        <div class="canvas-container" v-on:click="zoomCanvas">
                            <canvas
                                width="630"
                                height="900"
                                class="card-canvas"
                                v-bind:id="'card-back-canvas-' + card.id"
                                v-bind:data-canvasnum="card.id"
                                v-bind:data-filename="card.back.filename"
                                data-type="back"
                            ></canvas>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="how-to-use-modal" class="hidden" onclick="showManual()">
                <div class="modal">
                    <section>
                        <h1>ハンドアウト生成機 ver3.0</h1>
                        <p>
                            サイコロフィクション系のシステムでつかうハンドアウトを作成するツールです。
                        </p>
                    </section>
                    <section>
                        <h2>使い方</h2>
                        <img src="image/screenshot1.png" alt="アプリの画面" srcset="" class="fit" />
                        <dl class="how-to-list">
                            <dt>❶入力タブ</dt>
                            <dd>ハンドアウト内容を入力する画面に切り替えます。</dd>
                            <dt>❷プレビュータブ</dt>
                            <dd>入力内容のカード上での表示を確認できる画面に切り替えます。</dd>
                            <dt>❸全体フォントタブ</dt>
                            <dd>ハンドアウトで使うフォントを一括で変更します。</dd>
                            <dt>❹テキストインポート</dt>
                            <dd>
                                ハンドアウトをテキストから一括でインポートします。以下のようなテキストファイルからの取り込みが可能です。
                                <div>
                                    ハンドアウト<br />
                                    名前:PC①<br />
                                    あなたは忍者だ。あなたの【使命】は忍務を成功させることだ。<br />
                                    秘密:PC①<br />
                                    あなたは実は忍者ではない。【一般人】だ。あなたの【本当の使命】は生き残ることだ。<br />
                                    --<br />
                                    プライズ<br />
                                    名前:手裏剣<br />
                                    鋭い手裏剣。<br />
                                    <br />
                                    四方、八方、六方手裏剣。<br />
                                    秘密:手裏剣<br />
                                    映画村で買った土産である。<br />
                                    --<br />
                                    ：<br />
                                    ：
                                </div>
                            </dd>
                            <dt>❺ZIP形式一括保存</dt>
                            <dd>
                                入力したハンドアウトをZIP形式で一括保存します。保存したZIPはUdonarium上にドラッグ＆ドロップすることでそのままデッキとして使えます。
                            </dd>
                            <dt>❻ハンドアウト</dt>
                            <dd>
                                ハンドアウトの内容を手入力することができます。ハンドアウトごとにフォントを個別に指定できます。
                            </dd>
                            <dt>❼削除ボタン</dt>
                            <dd>ハンドアウトを削除します。</dd>
                            <dt>❽追加ボタン</dt>
                            <dd>ハンドアウトを追加します。</dd>
                        </dl>
                    </section>
                </div>
            </div>
        </main>
        <footer>
            <div class="how-to-use">
                <a href="#" onclick="showManual()">
                    <img src="image/question-mark.svg" alt="はてなマーク" />
                </a>
            </div>
            <div class="github-link">
                <a href="https://github.com/k-2480/trpg-handout-generator" target="_blank">
                    <img src="image/mark-github.svg" alt="Githubのロゴアイコン" />
                </a>
            </div>
        </footer>
        <script src="card.xml.js"></script>
        <script src="deck.xml.js"></script>
        <script src="index.js"></script>
    </body>
</html>
